



<div class="container pt-5">
    <div class="row">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div>
                Parola Kurtarma.
            </div>
          </div>

         
   

          <div class="mb-3">
            <label class="form-label">Parola:</label>
            <div class="input-group auth-pass-inputgroup">
              <input [type]="pwType" class="form-control" placeholder="Parolanızı giriniz..."
                aria-label="Password" aria-describedby="password-addon" id="password">
              <button class="btn btn-light " type="button"
                (click)="pwType == 'text' ? pwType = 'password': pwType = 'text'"><i
                  class="mdi mdi-eye-outline"></i></button>
            </div>
          </div>
          

          <div class="mb-3">
            <label class="form-label">Parola Tekrar:</label>
            <div class="input-group auth-pass-inputgroup">
              <input [type]="pwType" class="form-control" placeholder="Parolanızı giriniz..."
                aria-label="Password" aria-describedby="password-addon" id="rePassword">
              <button class="btn btn-light " type="button"
                (click)="pwType == 'text' ? pwType = 'password': pwType = 'text'"><i
                  class="mdi mdi-eye-outline"></i></button>
            </div>
          </div>

          
     

              <div class="mt-3 d-grid">
                <button (click)="recovery()" class="btn btn-primary waves-effect waves-light" type="submit">Güncelle
                  </button>
              </div>

              <!-- <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                {{errorMessage}}
              </div>
              <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
                {{successMessage}}
              </div> -->

              <!-- <div class="mt-4 text-center">
                <h5 class="font-size-14 mb-3">veya</h5>

                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                      <i class="mdi mdi-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                      <i class="mdi mdi-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                      <i class="mdi mdi-google"></i>
                    </a>
                  </li>
                </ul>
              </div> -->

              <!-- <button type="button" class="btn btn-primary" >
                Launch static backdrop modal
              </button> -->
    </div>

   


</div>
