<div class="col-md-12 col-sm-6">
    <div class="card">
        <div class="card-body" id="period">
            <h4 class="text-black">
                <b class="text-color text-align:center;">
                    <p class="text-center">
                        Periyodik İş Bilgileri
                    </p>
                </b>
            </h4>
            <div class="row">
                <div class="row col-md-12">
                    <div class="col-md-4 mt-4 text-center">
                        <b>
                            <img class="rounded mx-auto " src=".\assets\images\dashboard\daily.png" width="50px">
                            <h4 class="text-dark"> Günlük Süreç Sayısı : {{dailyPeriodInfoProcessCount}} </h4>
                            <h4 class="text-dark"> Günlük Faaliyet Sayısı : {{dailyPeriodInfoActivityCount}} </h4>
                        </b>
                    </div>
                    <div class="col-md-4 mt-4 text-center">
                        <b>
                            <img class="rounded mx-auto " src=".\assets\images\dashboard\weekly.png" width="50px">
                            <h4 class="text-dark"> Haftalık Süreç Sayısı : {{weeklyPeriodInfoProcessCount}} </h4>
                            <h4 class="text-dark"> Haftalık Faaliyet Sayısı : {{weeklyPeriodInfoActivityCount}} </h4>
                        </b>
                    </div>
                    <div class="col-md-4 mt-4 text-center">
                        <b>
                            <img class="rounded mx-auto " src=".\assets\images\dashboard\monthly.png" width="50px">
                            <h4 class="text-dark"> Aylık Süreç Sayısı:  {{monthlyPeriodInfoProcessCount}} </h4>
                            <h4 class="text-dark"> Aylık Faaliyet Sayısı:  {{monthlyPeriodInfoActivityCount}} </h4>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div class="row">

    <div class="col-md-4 col-sm-6">
        <div class="card" id="personnel">
            <div class="card-body">
                <div class="mt-4">
                    <h4 class="text-info">
                        <img class="float-end" src=".\assets\images\dashboard\personnels.png" width="50px">
                        <b class="text-white">
                            Personel Sayısı
                        </b>
                    </h4>
                    <h3>
                        <b>
                            <a class="text-white">{{personnelCount}}</a>
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" id="unit">
            <div class="card-body">
                <div class="mt-4">
                    <h4 class="text-info">
                        <img class="float-end" src=".\assets\images\dashboard\management.png" width="50px">
                        <b class="text-white">
                            Birim Sayısı
                        </b>
                    </h4>
                    <h3>
                        <b>
                            <a class="text-white">{{unitCount}}</a>
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" id="title">
            <div class="card-body">
                <div class="mt-4">
                    <h4 class="text-info">
                        <img class="float-end" src=".\assets\images\dashboard\personal-information.png" width="50px">
                        <b class="text-white">
                            Unvan Sayısı
                        </b>
                    </h4>
                    <h3>
                        <b>
                            <a class="text-white">{{titleCount}}</a>
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" id="jobDefinition">
            <div class="card-body">
                <div class="mt-4">
                    <h4 class="text-info">
                        <img class="float-end" src=".\assets\images\dashboard\task-list.png" width="50px">
                        <b class="text-white">
                            İş Tanımı Sayısı
                        </b>
                    </h4>
                    <h3>
                        <b>
                            <a class="text-white">{{jobDefinitionCount}}</a>
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" id="jobAnalysis">
            <div class="card-body">
                <div class="mt-4">
                    <h4 class="text-info">
                        <img class="float-end" src=".\assets\images\dashboard\assign.png" width="50px">
                        <b class="text-white">
                            Atanan İş Sayısı
                        </b>
                    </h4>
                    <h3>
                        <b>
                            <a class="text-white">{{jobAnalysisCount}}</a>
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-4 col-sm-6">
        <div class="card" id="jobAnalysisHighScorePersonnelCount">
            <div class="card-body">
                <div class="mt-4">
                    <h4 class="text-info">
                        <img class="float-end" src=".\assets\images\dashboard\team.png" width="50px">
                        <b class="text-white">
                            Diamond Personel Sayısı
                        </b>
                    </h4>
                    <h3>
                        <b>
                            <a class="text-white">{{jobAnalysisHighScorePersonnelCount}}</a>
                        </b>
                    </h3>
                </div>
            </div>
        </div>
    </div> -->

    <div class="col-md-4 col-sm-6">
        <div class="card" id="jobAnalysisHighScorePersonnelCount">
            <div class="card-body">
                <div class="mt-4">
                    <h4 class="text-info">
                        <img class="float-end" src=".\assets\images\dashboard\team.png" width="50px">
                        <b class="text-white">
                            Asil Personel Sayısı : {{royalPersonnelCount}} <br>
                            Vekil Personel Sayısı : {{proxyPersonnelCount}}
                        </b>
                    </h4>  
                    <h3>
                        <b>
                            <a></a>
                        </b>
                    </h3>                 
                </div>
            </div>
        </div>
    </div>

</div>